---
# tasks file for docker

- apt: name={{ item }} state=latest
  with_items:
    - python-pip

- include: main-debian-8.yml
  when: ansible_distribution == 'Debian' and ansible_distribution_major_version == '8'
